/*			Base 									*/
/*			Button									*/
.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 6px 12px;
  border: 0;
  color: #2a2a2a;
  background: #dbdbdb; }
  .btn:hover, .btn:active, .btn:focus {
    background: #eeeeee; }
  .btn.disabled, .btn[disabled], .btnfieldset[disabled] {
    cursor: not-allowed;
    opacity: .65; }

.btn.btn-b {
  color: #eeeeee;
  background: #3f84b3; }
  .btn.btn-b:hover, .btn.btn-b:active, .btn.btn-b:focus {
    background: #5597c3; }

.btn.btn-g {
  color: #eeeeee;
  background: #2db747; }
  .btn.btn-g:hover, .btn.btn-g:active, .btn.btn-g:focus {
    background: #3bcf57; }

.btn.btn-r {
  color: #eeeeee;
  background: #ea4848; }
  .btn.btn-r:hover, .btn.btn-r:active, .btn.btn-r:focus {
    background: #ee6a6a; }

.btn.btn-lg {
  padding: 9px 15px;
  font-size: 135%; }

.btn.btn-sm {
  padding: 4px 8px;
  font-size: 80%; }
