/*			Base 									*/
/*			Button									*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #222;
  background-color: #eee; }

article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
  display: block; }

h1, h2, h3, h4, h5, h6, hr {
  line-height: 1.3;
  margin: 0.7em 0;
  font-weight: 500; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, hr small {
    color: #484848;
    font-weight: 200; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

small {
  font-size: 75%; }

p, pre {
  margin: 0 0 0.6em; }

ul, ol {
  margin-top: 0;
  margin-bottom: 0.6em; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #c8c8c8; }

code, pre, kbd, samp {
  font-family: monospace;
  font-size: 1em; }

code, pre {
  padding: 2px 4px;
  background-color: #d8d8d8;
  border-radius: 4px; }

kbd {
  padding: 2px 4px;
  color: #eee;
  background-color: #2b2b2b;
  border-radius: 4px; }

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #2678b3; }
  a:active, a:hover {
    outline-width: 0;
    color: #3793d5; }
  a:visited {
    color: #1d5c89; }
    a:visited:active, a:visited:hover {
      color: #2678b3; }

figure {
  margin: 1em 40px; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ffff33;
  color: #222; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

[hidden], .hidden, template {
  display: none; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.3;
  margin: 0; }

button, input, hr {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }
  button::-moz-focus-inner, html [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring, html [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0.35em 0.65em 0.75em; }

[type="checkbox"], [type="radio"], legend {
  box-sizing: border-box;
  padding: 0; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

.btn {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  padding: 6px 12px;
  border: 0;
  color: #2a2a2a;
  background: #dbdbdb; }
  .btn:hover, .btn:active, .btn:focus {
    background: #eeeeee; }
  .btn.disabled, .btn[disabled], .btnfieldset[disabled] {
    cursor: not-allowed;
    opacity: .65; }

.btn.btn-b {
  color: #eeeeee;
  background: #3f84b3; }
  .btn.btn-b:hover, .btn.btn-b:active, .btn.btn-b:focus {
    background: #5597c3; }

.btn.btn-g {
  color: #eeeeee;
  background: #2db747; }
  .btn.btn-g:hover, .btn.btn-g:active, .btn.btn-g:focus {
    background: #3bcf57; }

.btn.btn-r {
  color: #eeeeee;
  background: #ea4848; }
  .btn.btn-r:hover, .btn.btn-r:active, .btn.btn-r:focus {
    background: #ee6a6a; }

.btn.btn-lg {
  padding: 9px 15px;
  font-size: 135%; }

.btn.btn-sm {
  padding: 4px 8px;
  font-size: 80%; }

.grid-container * {
  box-sizing: border-box; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

.col {
  float: left;
  padding: 12px; }

.xs-3-1 {
  width: 33.33333%; }

.xs-3-2 {
  width: 66.66667%; }

.xs-3-3 {
  width: 100%; }

.xs-4-1 {
  width: 25%; }

.xs-4-2 {
  width: 50%; }

.xs-4-3 {
  width: 75%; }

.xs-4-4 {
  width: 100%; }

.xs-no {
  display: none; }

.sm-no, .md-no, .lg-no {
  display: block; }

@media (min-width: 768px) {
  .sm-3-1 {
    width: 33.33333%; }

  .sm-3-2 {
    width: 66.66667%; }

  .sm-3-3 {
    width: 100%; }

  .sm-4-1 {
    width: 25%; }

  .sm-4-2 {
    width: 50%; }

  .sm-4-3 {
    width: 75%; }

  .sm-4-4 {
    width: 100%; }

  .sm-no {
    display: none; }

  .xs-no, .md-no, .lg-no {
    display: block; } }
@media (min-width: 1024px) {
  .md-3-1 {
    width: 33.33333%; }

  .md-3-2 {
    width: 66.66667%; }

  .md-3-3 {
    width: 100%; }

  .md-4-1 {
    width: 25%; }

  .md-4-2 {
    width: 50%; }

  .md-4-3 {
    width: 75%; }

  .md-4-4 {
    width: 100%; }

  .md-no {
    display: none; }

  .xs-no, .sm-no, .lg-no {
    display: block; } }
@media (min-width: 1280px) {
  .lg-3-1 {
    width: 33.33333%; }

  .lg-3-2 {
    width: 66.66667%; }

  .lg-3-3 {
    width: 100%; }

  .lg-4-1 {
    width: 25%; }

  .lg-4-2 {
    width: 50%; }

  .lg-4-3 {
    width: 75%; }

  .lg-4-4 {
    width: 100%; }

  .lg-no {
    display: none; }

  .xs-no, .sm-no, .md-no {
    display: block; } }
