/*
	Set font-family, line-height, prevent adjustments of font size after orientation changes in IE and iOS.
	Set body colors and margin.
*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #222;
  background-color: #efefef; }

/*
	Correct display in IE 9-.
*/
article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
  display: block; }

/*
	Correct margin in IE 8.
*/
figure {
  margin: 1em 40px; }

/*
	Styles for  headers.
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0.7em 0;
  font-weight: 500; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #484848;
    font-weight: 200; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

/*
	Correct box-sizing in Firefox.
	Style for horizontal rule.
*/
hr {
  box-sizing: content-box;
  line-height: 1.2;
  margin: 0.7em 0;
  height: 0;
  border: 0;
  border-top: 1px solid #c9c9c9; }

/*
	Style for all small text and size for sub and sup.
*/
small, sub, sup {
  font-size: 75%; }

/*
	Style for paragraph and preformatted elements.
*/
p, pre {
  margin: 0 0 0.6em; }

/*
	Style for lists.
*/
ul, ol {
  margin-top: 0;
  margin-bottom: 0.6em; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

/*
	Styles for code and preformatted.
*/
samp, kbd, code, pre {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd, code, pre {
  padding: 2px 4px;
  border-radius: 4px; }

code, pre {
  background-color: #d5d5d5; }

kbd {
  color: #f8f8f8;
  background-color: #222; }

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

/*
	Style for hyperlinks, remove underline.
	Remove gray background on active links in IE 10.
	Remove outline on focused links when they are also active or hovered.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: #2678b3; }
  a:active, a:hover {
    outline-width: 0;
    color: #3793d5; }
  a:visited {
    color: #1d5c89; }
    a:visited:active, a:visited:hover {
      color: #2678b3; }

/*
	Prevent the duplicate application of `bolder` in Safari 6.
*/
b, strong {
  font-weight: inherit; }

/*
	Correct font weight in Chrome, Edge, Safari.
*/
b, strong {
  font-weight: bolder; }

/*
	Correct font style in Android 4.3-.
*/
dfn {
  font-style: italic; }

/*
	Remove botom border in Firefox 39-.
	Correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/*
	Style for mark.
*/
mark {
  background-color: #ffff33;
  color: #222; }

/*
	Styling for hidden elements.
	Correct display for template in IE.
	Correct display for audio:not([controls]) in iOS 4-7.	
*/
[hidden], .hidden, template, audio:not([controls]) {
  display: none; }

audio:not([controls]) {
  height: 0; }

/*
	Correct display in IE 9-.
*/
audio, video, progress {
  display: inline-block; }

/*
	Styles for sub and sup.
	Prevent `sub` and `sup` elements from affecting the line height.
	Correct vertical alignment of progress in Chrome, Firefox, and Opera.
*/
sub, sup, progress {
  vertical-align: baseline; }

sub, sup {
  line-height: 0;
  position: relative; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
	Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none; }

/*
	Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden; }

/*
	Show the overflow in IE and Edge.
*/
button, input, hr {
  overflow: visible; }

/*
	Style for buttons and input elements.
*/
button, input, optgroup, select, textarea {
  font-family: '"Helvetica Neue", Helvetica, sans-serif';
  font-size: 100%;
  line-height: 1.2;
  margin: 0; }

/*
	Remove the inheritance of text transform in Edge, Firefox, and IE.
*/
button, select {
  text-transform: none; }

/*
	Correct styling for iOS, Safari and Firefox.
*/
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }
  button::-moz-focus-inner, html [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring, html [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/*
	Style for fieldset.
*/
fieldset {
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0.35em 0.65em 0.75em; }

/*
	Add correct box sizing and remove padding in IE 10-.
*/
[type="checkbox"], [type="radio"], legend {
  box-sizing: border-box;
  padding: 0; }

/*

	Correct text wrapping and color inheritance from `fieldset` elements in Edge and IE.
	Remove the padding so developers are not caught out when they zero out `fieldset` 
	elements in all browsers.
*/
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

/*
	Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto; }

/*
	Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/*
	Correct styling in Chrome and Safari.
	Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/*
	Correct the inability to style clickable types in iOS and Safari.
	Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*@import 'mini/button';
@import 'mini/grid';
// Use grid mixin to create grid with default specs.
@include make-grid(grid-container, 0, row, col, 12, 12px, xs, sm, md, lg, no, 768px, 1024px, 1280px);*/
