/*
	Set font-family, line-height, prevent adjustments of font size after orientation changes in IE and iOS.
	Set body colors and margin.
*/
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #222;
  background-color: #efefef; }

/*
	Correct display in IE 9-.
*/
article, aside, footer, header, nav, section, figcaption, figure, main, details, menu {
  display: block; }

/*
	Correct margin in IE 8.
*/
figure {
  margin: 1em 40px; }

/*
	Styles for  headers.
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0.7em 0;
  font-weight: 500; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #555555;
    font-weight: 200; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8em; }

h6 {
  font-size: 0.7em; }

/*
	Correct box-sizing in Firefox.
	Style for horizontal rule.
*/
hr {
  box-sizing: content-box;
  line-height: 1.2;
  margin: 0.7em 0;
  height: 0;
  border: 0;
  border-top: 1px solid #c9c9c9; }

/*
	Style for all small text and size for sub and sup.
*/
small, sub, sup {
  font-size: 75%; }

/*
	Style for paragraph and preformatted elements.
*/
p, pre {
  margin: 0 0 0.6em; }

/*
	Style for lists.
*/
ul, ol {
  margin-top: 0;
  margin-bottom: 0.6em; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }

/*
	Styles for code and preformatted.
*/
samp, kbd, code, pre {
  font-family: monospace, monospace;
  font-size: 1em; }

kbd, code, pre {
  padding: 2px 4px;
  border-radius: 4px; }

code, pre {
  background-color: #d5d5d5; }

kbd {
  color: #f8f8f8;
  background-color: #222; }

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

/*
	Style for hyperlinks, remove underline.
	Remove gray background on active links in IE 10.
	Remove outline on focused links when they are also active or hovered.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: #2678b3; }
  a:active, a:hover {
    outline-width: 0;
    color: #3793d5; }
  a:visited {
    color: #1d5c89; }
    a:visited:active, a:visited:hover {
      color: #2678b3; }

/*
	Prevent the duplicate application of `bolder` in Safari 6.
*/
b, strong {
  font-weight: inherit; }

/*
	Correct font weight in Chrome, Edge, Safari.
*/
b, strong {
  font-weight: bolder; }

/*
	Correct font style in Android 4.3-.
*/
dfn {
  font-style: italic; }

/*
	Remove botom border in Firefox 39-.
	Correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/*
	Style for mark.
*/
mark {
  background-color: #ffff33;
  color: #222; }

/*
	Styling for hidden elements.
	Correct display for template in IE.
	Correct display for audio:not([controls]) in iOS 4-7.	
*/
[hidden], .hidden, template, audio:not([controls]) {
  display: none; }

audio:not([controls]) {
  height: 0; }

/*
	Correct display in IE 9-.
*/
audio, video, progress {
  display: inline-block; }

/*
	Styles for sub and sup.
	Prevent `sub` and `sup` elements from affecting the line height.
	Correct vertical alignment of progress in Chrome, Firefox, and Opera.
*/
sub, sup, progress {
  vertical-align: baseline; }

sub, sup {
  line-height: 0;
  position: relative; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
	Remove the border on images inside links in IE 10-.
*/
img {
  border-style: none; }

/*
	Hide the overflow in IE.
*/
svg:not(:root) {
  overflow: hidden; }

/*
	Show the overflow in IE and Edge.
*/
button, input, hr {
  overflow: visible; }

/*
	Style for buttons and input elements.
*/
button, input, optgroup, select, textarea {
  font-family: '"Helvetica Neue", Helvetica, sans-serif';
  font-size: 100%;
  line-height: 1.2;
  margin: 0; }

/*
	Remove the inheritance of text transform in Edge, Firefox, and IE.
*/
button, select {
  text-transform: none; }

/*
	Correct styling for iOS, Safari and Firefox.
*/
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }
  button::-moz-focus-inner, html [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring, html [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/*
	Style for fieldset.
*/
fieldset {
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0.35em 0.65em 0.75em; }

/*
	Add correct box sizing and remove padding in IE 10-.
*/
[type="checkbox"], [type="radio"], legend {
  box-sizing: border-box;
  padding: 0; }

/*

	Correct text wrapping and color inheritance from `fieldset` elements in Edge and IE.
	Remove the padding so developers are not caught out when they zero out `fieldset` 
	elements in all browsers.
*/
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

/*
	Remove the default vertical scrollbar in IE.
*/
textarea {
  overflow: auto; }

/*
	Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/*
	Correct styling in Chrome and Safari.
	Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/*
	Correct the inability to style clickable types in iOS and Safari.
	Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/*
	Mixin for button color variant. 
	Parameters:
	- $btn-variant-color                  :	The text color of the button variant.
	- $btn-variant-bg-color               :	The background color of the button variant.
	- $btn-variant-hover-style	          :	Hover/active/focus style of the button variant. [1]
	- $btn-variant-hover-style-percentage :	Hover/active/focus style of the button variant percentage modifier.
	Notes:
	- [1] : The values that $btn-variant-hover-style can take are `lighten` and `darken`. The inside condition
		only checks if the value is `lighten` and acts accordingly. Invalid values are treated as `darken`.
	- [2] : Do not use this mixin directly, use `make-btn-style` instead.
*/
/*
	Mixin for the buttons.
	Parameters:
	- $btn-name                   :	The class name of the buttons.
	- $btn-border                 :	The border of the buttons.
	- $btn-border-radius          :	The border-radius of the buttons.
	- $btn-margin                 :	The margin of the buttons.
	- $btn-padding                :	The padding of the buttons.
	- $btn-color                  :	The text color of the buttons.
	- $btn-bg-color               :	The background color of the buttons.
	- $btn-hover-style            :	Hover/active/focus style of the buttons. [1]
	- $btn-hover-style-percentage :	Hover/active/focus style of the buttons percentage modifier.
	- $btn-cursor                 :	The cursor style when hovering over the buttons.
	- $btn-disabled-cursor        :	The cursor style when hovering over the buttons whie disabled.
	- $btn-disabled-opacity       :	The opacity of the buttons when disabled.
	Notes:
	- [1] : The values that $btn-hover-style can take are `lighten` and `darken`. The inside condition only 
		checks if the value is `lighten` and acts accordingly. Invalid values are treated as `darken`.
	- [2] : This only creates a basic button style. For more styles use `make-btn-style`.
*/
/*
	Mixin for button styles. 
	Parameters:
	- $btn-name                         : The class name of the buttons. [1]
	- $btn-style-name                   : The class name of the button style.
	- $btn-style-color                  : The text color of the button style.
	- $btn-style-bg-color               : The background color of the button style.
	- $btn-style-hover-style	        : Hover/active/focus style of the button style. [2][3]
	- $btn-style-hover-style-percentage : Hover/active/focus style of the button style percentage modifier.[3]
	Notes:
	- [1] : The value of $btn-name must be the same as the value specified when using `make-btn`, otherwise
		the specified style will not work correctly.
	- [2] : The values that $btn-style-hover-style can take are `lighten` and `darken`. The inside condition
		only checks if the value is `lighten` and acts accordingly. Invalid values are treated as `darken`.
	- [3] : The values of $btn-style-hover-style and $btn-style-hover-style-percentage default to `lighten`
		and `7.5%` if not specified.
	- [4] : This mixin should be used in combination with `make-btn` and is suggested that you use it after
		`make-btn`.
*/
/*
	Mixin for button sizes. 
	Parameters:
	- $btn-name           : The class name of the buttons. [1]
	- $btn-size-name      : The class name of the button size.
	- $btn-size-padding   : The padding of the button size.
	- $btn-size-font-size : The font-size of the button size.
	Notes:
	- [1] : The value of $btn-name must be the same as the value specified when using `make-btn`, otherwise
		the specified style will not work correctly.
	- [2] : This mixin should be used in combination with `make-btn` and is suggested that you use it after
		`make-btn`.
*/
.btn, a.btn, a.btn:visited {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  margin: 2px 0;
  padding: 6px 12px;
  color: #2a2a2a;
  background: #c2c2c2;
  cursor: pointer; }
  .btn:hover, .btn:active, .btn:focus, a.btn:hover, a.btn:active, a.btn:focus, a.btn:visited:hover, a.btn:visited:active, a.btn:visited:focus {
    background: #d5d5d5; }
  .btn.disabled, .btn[disabled], .btnfieldset[disabled], a.btn.disabled, a.btn[disabled], a.btnfieldset[disabled], a.btn:visited.disabled, a.btn:visited[disabled], a.btn:visitedfieldset[disabled] {
    cursor: not-allowed;
    opacity: 0.65; }

.btn.blue, a.btn.blue, a.btn.blue:visited {
  color: #eeeeee;
  background: #3f84b3; }
  .btn.blue:hover, .btn.blue:active, .btn.blue:focus, a.btn.blue:hover, a.btn.blue:active, a.btn.blue:focus, a.btn.blue:visited:hover, a.btn.blue:visited:active, a.btn.blue:visited:focus {
    background: #5597c3; }

.btn.green, a.btn.green, a.btn.green:visited {
  color: #eeeeee;
  background: #2db747; }
  .btn.green:hover, .btn.green:active, .btn.green:focus, a.btn.green:hover, a.btn.green:active, a.btn.green:focus, a.btn.green:visited:hover, a.btn.green:visited:active, a.btn.green:visited:focus {
    background: #3bcf57; }

.btn.red, a.btn.red, a.btn.red:visited {
  color: #eeeeee;
  background: #ea4848; }
  .btn.red:hover, .btn.red:active, .btn.red:focus, a.btn.red:hover, a.btn.red:active, a.btn.red:focus, a.btn.red:visited:hover, a.btn.red:visited:active, a.btn.red:visited:focus {
    background: #ee6a6a; }

.btn.lg {
  padding: 9px 15px;
  font-size: 135%; }

.btn.sm {
  padding: 4px 8px;
  font-size: 80%; }

/*
	Mixin for responsive, mobile-first grid. 
	Parameters:
	- $container-name    :	The class name of the container for the grid.
	- $container-padding :	The left and right padding of the container. [1]
	- $row-name          :	The class name of the grid's rows.
	- $col-name          :	The class name of the grid's columns.
	- $col-number        :	The amount of columns in the grid.
	- $xs-prefix         : 	Class prefix for extra small screens.
	- $sm-prefix         : 	Class prefix for small screens.
	- $md-prefix         : 	Class prefix for medium screens.
	- $lg-prefix         : 	Class prefix for large screens.
	- $hide-suffix       : 	Class suffix for hidden columns. [2]
	- $sm-breakpoint     : 	Breakpoint for small screens.
	- $md-breakpoint     : 	Breakpoint for medium screens.
	- $lg-breakpoint     : 	Breakpoint for large screens.
	Notes:
	- [1] : The padding of the container might cause the page to grow by $container-padding to the right. This 
			can be fixed either via @media queries or setting the padding to 0.
	- [2] :	Columns with the $hide-suffix will be only hidden in the screen size specified.
	- [3] :	Refer to https://github.com/Chalarangelo/mini.css/wiki/Grid for additional information.
*/
.grid-container {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }
  .grid-container * {
    box-sizing: border-box; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

.col {
  float: left;
  padding: 12px; }

.xs-1 {
  width: 8.33333%; }

.xs-2 {
  width: 16.66667%; }

.xs-3 {
  width: 25%; }

.xs-4 {
  width: 33.33333%; }

.xs-5 {
  width: 41.66667%; }

.xs-6 {
  width: 50%; }

.xs-7 {
  width: 58.33333%; }

.xs-8 {
  width: 66.66667%; }

.xs-9 {
  width: 75%; }

.xs-10 {
  width: 83.33333%; }

.xs-11 {
  width: 91.66667%; }

.xs-12 {
  width: 100%; }

.sm-no,
.md-no,
.lg-no {
  display: block; }

.xs-no {
  display: none; }

@media (min-width: 768px) {
  .sm-1 {
    width: 8.33333%; }

  .sm-2 {
    width: 16.66667%; }

  .sm-3 {
    width: 25%; }

  .sm-4 {
    width: 33.33333%; }

  .sm-5 {
    width: 41.66667%; }

  .sm-6 {
    width: 50%; }

  .sm-7 {
    width: 58.33333%; }

  .sm-8 {
    width: 66.66667%; }

  .sm-9 {
    width: 75%; }

  .sm-10 {
    width: 83.33333%; }

  .sm-11 {
    width: 91.66667%; }

  .sm-12 {
    width: 100%; }

  .xs-no,
  .md-no,
  .lg-no {
    display: block; }

  .sm-no {
    display: none; } }
@media (min-width: 1024px) {
  .md-1 {
    width: 8.33333%; }

  .md-2 {
    width: 16.66667%; }

  .md-3 {
    width: 25%; }

  .md-4 {
    width: 33.33333%; }

  .md-5 {
    width: 41.66667%; }

  .md-6 {
    width: 50%; }

  .md-7 {
    width: 58.33333%; }

  .md-8 {
    width: 66.66667%; }

  .md-9 {
    width: 75%; }

  .md-10 {
    width: 83.33333%; }

  .md-11 {
    width: 91.66667%; }

  .md-12 {
    width: 100%; }

  .xs-no,
  .sm-no,
  .lg-no {
    display: block; }

  .md-no {
    display: none; } }
@media (min-width: 1280px) {
  .lg-1 {
    width: 8.33333%; }

  .lg-2 {
    width: 16.66667%; }

  .lg-3 {
    width: 25%; }

  .lg-4 {
    width: 33.33333%; }

  .lg-5 {
    width: 41.66667%; }

  .lg-6 {
    width: 50%; }

  .lg-7 {
    width: 58.33333%; }

  .lg-8 {
    width: 66.66667%; }

  .lg-9 {
    width: 75%; }

  .lg-10 {
    width: 83.33333%; }

  .lg-11 {
    width: 91.66667%; }

  .lg-12 {
    width: 100%; }

  .xs-no,
  .sm-no,
  .md-no {
    display: block; }

  .lg-no {
    display: none; } }
