/*
  Browsers resets and base typography.
*/

// TODO: Add fluid type and test thoroughly
$base-root-font-size:     16px !default;        // Root font sizing for all elements (`px` only)
$_apply-defaults-to-all:  true !default;        // [Hidden] Apply defaults to all elements? (boolean)
$__1px: (1px/$base-root-font-size) * 1rem !default;  // [Calculated] Calculated rem value of `1px`
$base-font-family: '-apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Ubuntu, \"Helvetica Neue\", Helvetica, sans-serif' !default;                           // Font stack for all elements
$base-line-height:        1.5 !default;         // Line height for most elements
$base-font-size:          1rem !default;        // Font sizing for all elements
$_body-margin:            0 !default;           // [Hidden] Margin for body
$fore-color:              #212121 !default;     // Text & foreground color
$secondary-fore-color:    #424242 !default;     // Secondary text & foreground color
$back-color:              #f8f8f8 !default;     // Background color
$heading-line-height:     1.2 !default;         // Line height for headings
$heading-ratio:           1.19 !default;        // Ratio for headings (strictly unitless)
$subheading-font-size:    0.75em !default;      // Font sizing for <small> elements in headings
$subheading-top-margin:   -0.25rem !default;    // Top margin of <small> elements in headings
$universal-margin:        0.5rem !default;      // Universal margin for the most elements
$small-font-size:         0.75em !default;      // Font sizing for <small> elements
// TODO: universalize
$heading-margin:      0.75rem 0.5rem !default;  // Margin for headers, use universal
$heading-font-weight: 500 !default;             // Font weight for headings


// CSS variable name definitions [exercise caution if modifying these]
$fore-color-var:                '--fore-color';
$secondary-fore-color-var:      '--secondary-fore-color';
$back-color-var:                '--back-color';
$heading-ratio-var:             '--heading-ratio';
$universal-margin-var:          '--universal-margin';
/* Core module CSS variable definitions */
:root {
  #{$fore-color-var}: $fore-color;
  #{$secondary-fore-color-var}: $secondary-fore-color;
  #{$back-color-var}: $back-color;
  #{$heading-ratio-var}: $heading-ratio;
  #{$side-margin-var}: $side-margin;
}
html {
  font-size: $base-root-font-size;  // Set root's font sizing.
}

@if $_apply-defaults-to-all {
  html, * {
    font-family: #{$base-font-family};
    line-height: $base-line-height;
    // Prevent adjustments of font size after orientation changes in mobile.
    -webkit-text-size-adjust: 100%;
  }
  * {
    font-size: $base-font-size;
  }
}
@else {
  html {
    font-family:  #{$base-font-family};
    line-height: $base-line-height;
    // Prevent adjustments of font size after orientation changes in mobile.
    -webkit-text-size-adjust: 100%;
  }
}

body {
  margin: $_body-margin;
  color: var(#{$fore-color-var});
  background: var(#{$back-color-var});
}

// Correct display for Edge & Firefox.
details {
  display: block;
}

// Correct display in all browsers.
summary {
  display: list-item;
}

// Abbreviations
abbr[title] {
  border-bottom: none;           // Remove bottom border in Firefox 39-.
  text-decoration: underline dotted;  // Opinionated style-fix for all browsers.
}

// Show overflow in Edge.
input {
  overflow: visible;
}

// Make images responsive by default.
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  margin: calc(1.5 * var(#{$universal-margin-var})) var(#{$universal-margin-var});
  font-weight: $heading-font-weight;
  small {
    color: var(#{$secondary-fore-color-var});
    display: block;
    @if $subheading-top-margin != 0 {
      margin-top: $subheading-top-margin;
    }
    @if $subheading-font-size != $small-font-size {
      font-size: $subheading-font-size;
    }
  }
}

h1 {
  font-size: calc(1rem * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}));
}
h2 {
  font-size: calc(1rem * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}));
}
h3 {
  font-size: calc(1rem * var(#{$heading-ratio-var}) * var(#{$heading-ratio-var}));
}
h4 {
  font-size: calc(1rem * var(#{$heading-ratio-var}));
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: calc(1rem / var(#{$heading-ratio-var}));
}
