/*
	Definitions for navigation elements. 
*/
// Different elements are styled based on the same set of rules.
// Header styling.
$button-class-name:				'button' !default;								// Class name for the button-like elements
$header-logo-name:				'logo' !default;								// Class name for <header>'s logo
$include-header-sticky:			false !default;									// Should the sticky class for <header> elements be included
header {
	display: block;		// Correct display for older versions of IE.
	height: $header-height;
	@if $header-back-color != $back-color {
		background: $header-back-color;
	}
	@if $header-fore-color != $fore-color {
		color: $header-fore-color;
	}
	@if $header-border-style != 0 {
		border: $header-border-style;
	}
	@if $header-margin != 0 {
		margin: $header-margin;
	}
	@if $header-padding != 0 {
		padding: $header-padding;
	}
	@if $header-box-shadow != none {
		box-shadow: $header-box-shadow;
	}
	// Resposniveness for smaller displays, scrolls horizontally.
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	// Header logo styling.
	.#{$header-logo-name} {
		color: $header-fore-color;		// Keep this in case people use SVGs? Is it necessary?
		@if $header-logo-font-size != $base-font-size {
			font-size: $header-logo-font-size;
		}
		@if $header-logo-line-height != $base-line-height {
			line-height: $header-logo-line-height;
		}
		@if $header-logo-margin != 0 {
			margin: $header-logo-margin;
		}
		@if $header-logo-padding != 0 {
			padding: $header-logo-padding;
		}
	}
	// Link styling.
	button, [type="button"], a.#{$button-class-name}, label.#{$button-class-name}, .#{$button-class-name} {
		background: $header-back-color;		// Apply color regardless to override styling from other things.
		color: $header-fore-color;
		vertical-align: top;		// Alignemt, really important to make this work well.
		@if $header-link-margin != 0 {
			margin: $header-link-margin;
		}
		&:hover, &:active, &:focus {
			background: $header-link-hover-color;
		}
		@if $button-box-shadow != none {	// Override for buttons when shadow is enabled.
			box-shadow: none;
		}
		@if $button-border-style != 0 {	// Override for buttons when border-style is enabled.
			border: 0;
		}
	}
	@if $apply-link-underline {		// Override for links if underline is enabled.
		.#{$header-logo-name}, a.#{$button-class-name} {
			text-decoration: none;
		}
	}
}
@if $include-header-sticky {
	header.#{$header-sticky-name} {
		position: -webkit-sticky;
		position:		  sticky;
		top: 0;
		z-index: 1101;	// Deals with certain problems when combined with cards and tables.
	}
}
// Navigation sidebar styling.
nav {
	display: block;		// Correct display for older versions of IE.
	@if $nav-back-color != $back-color {
		background: $nav-back-color;
	}
	@if $nav-fore-color != $fore-color {
		color: $nav-fore-color;
	}
	@if $nav-border-style != 0 {
		border: $nav-border-style;
	}
	@if $nav-border-radius != 0 {
		border-radius: $nav-border-radius;
	}
	@if $nav-margin != 0 {
		margin: $nav-margin;
	}
	@if $nav-padding != 0 {
		padding: $nav-padding;
	}
	@if $nav-box-shadow != none {
		box-shadow: $nav-box-shadow;
	}
	a, a:visited {
		display: block;
		color: $nav-link-fore-color;	// Apply regardless to de-stylize visited links.
	}
	// Subcategories in navigation.
	$nav-sublink-prefix:		'sublink' !default;		// Prefix for the subcategory tabs in nav
	$nav-sublink-depth:			2 !default;			// Amount of subcategory classes to add
	$nav-sublink-padding-left:	12px !default;		// Left padding to add to subcategories
	@for $i from 1 through $nav-sublink-depth {
		.#{$nav-sublink-prefix}-#{$i} {
			padding-left: $i * $nav-sublink-padding-left;
		}
	}
}

$include-footer-sticky:			false !default;									// Should the class that aligns <footer> elements to the 
																				// bottom of the page be included
// Footer styling.
footer {
	display: block;		// Correct display for older versions of IE.
	@if $footer-back-color != $back-color {
		background: $footer-back-color;
	}
	@if $footer-fore-color != $fore-color {
		color: $footer-fore-color;
	}
	@if $footer-border-style != 0 {
		border: $footer-border-style;
	}
	@if $footer-margin != 0 {
		margin: $footer-margin;
	}
	@if $footer-padding != 0 {
		padding: $footer-padding;
	}
	font-size: $footer-font-size;
	a, a:visited {
		color: $footer-link-fore-color;
	}
}
@if $include-footer-sticky {
	footer.#{$footer-sticky-name}{
		position: -webkit-sticky;
		position:		  sticky;
		bottom: 0;
		z-index: 1101;	// Deals with certain problems when combined with cards and tables.
	}
}