// Definitions for spinners.
// Animation definitions
@-webkit-keyframes spinner-dot-anim { to { 	-webkit-transform: translateY(-($spinner-dot-font-size*6));} }
		@keyframes spinner-dot-anim { to {			transform: translateY(-($spinner-dot-font-size*6));} }
@-webkit-keyframes spinner-donut-anim { 0% { 	-webkit-transform: rotate(0deg);} 100% { 	-webkit-transform: rotate(360deg);} }
		@keyframes spinner-donut-anim { 0% {			transform: rotate(0deg);} 100% {			transform: rotate(360deg);} }
// Style for dots spinner (simple text-based spinner)
.#{$spinner-dot-name} {
	display: inline-block;
	overflow: hidden;
	font-size: $spinner-dot-font-size;
	height: 1.5 * $spinner-dot-font-size;
	vertical-align: bottom;
&:after{
	display: inline-table;
	white-space: pre;
	content: "\A.\A..\A...";
	-webkit-animation: spinner-dot-anim 1.2s steps(4) infinite;
			animation: spinner-dot-anim 1.2s steps(4) infinite;
}
}
// Style for donut spinner
.#{$spinner-donut-name} {
	display: inline-block;
	border: $spinner-donut-border-thickness solid $spinner-donut-back-color;
	border-left: $spinner-donut-border-thickness solid $spinner-donut-fore-color;
	border-radius: 50%;
	width: $spinner-donut-size;
	height: $spinner-donut-size;
	animation: spinner-donut-anim 1.2s linear infinite;
}
// Mixin for alternate donut spinner styles (spinner donut color variants).
// Variables:
// - $spinner-donut-alt-name : The name of the class used for the alternate donut spinner.
// - $spinner-donut-alt-back-color : The background color of the alternate donut spinner.
// - $spinner-donut-alt-fore-color : The foreground color of the alternate donut spinner.
@mixin make-spinner-donut-alt-color ($spinner-donut-alt-name, $spinner-donut-alt-back-color, $spinner-donut-alt-fore-color) {
.#{$spinner-donut-name}.#{$spinner-donut-alt-name} {
	border: $spinner-donut-border-thickness solid $spinner-donut-alt-back-color;
	border-left: $spinner-donut-border-thickness solid $spinner-donut-alt-fore-color;
}
}