// Definitions for the responsive table component.
// The tables use the common table elements and syntax.
// Desktop view.
table {	
	border-collapse: separate;
	border-spacing: 0;
	// Apply border style by default always. Otherwise, browser default will be applied.
	border: $table-border-style;
	@if $table-border-radius != 0 {
		border-radius: $table-border-radius;
	}
	@if $table-margin != 0 {
		margin: $table-margin;
	}
	@if $table-box-shadow !=0 {
		box-shadow: $table-box-shadow;
	}
}
caption {
	font-size: $table-caption-font-size;
	margin: $table-caption-margin;
}
tr {
	padding: $table-row-padding;		// Apply always to overwrite default.
}
th, td {
	padding: $table-column-padding;		// Apply always to overwrite default.
	border-left: $table-border-style;
	border-top: $table-border-style;
}
th {
	border-top: 0;
	background: $table-head-back-color;
}
th:first-child, td:first-child {
	border-left: 0;
}
// Mobile view.
@media (max-width: #{$table-mobile-breakpoint}) {
	table {
		border-collapse: collapse;
		border: 0;	
		width: 100%;
		@if $table-box-shadow !=0 {
			box-shadow: none;
		}
	}
	// Accessibility (element is not visible, but screen readers read it normally)
	thead {
		border: 0;
		height: 1px;
		width: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;	
		clip: rect(0 0 0 0);
		-webkit-clip-path: inset(100%);
				clip-path: inset(100%);	
	}
	tr {
		display: block;
		border: $table-border-style;
		@if $table-border-radius != 0 {
			border-radius: $table-border-radius;
		}  
		@if $table-box-shadow !=0 {
			box-shadow: $table-box-shadow;
		}	
		margin-bottom: $table-mobile-card-spacing;
	}
	td {
		display: block;
		border: 0;
		@if $table-border-style != 0 {
			border-bottom: $table-border-style;	
		}
		text-align: right;
	}
	td:before {
		content: attr(#{$table-mobile-card-label});
		float: left;
		font-weight: $table-mobile-label-font-weight;
	}
	td:last-child {
		@if $table-border-style != 0 {
			border-bottom: 0;
		}
	}
}