// Utility module's mixin definitions are here. For the module itself
// check `_utility.scss`.
// Generic border mixin. ATTENTION: Uses !important.
// Variables:
// - $border-generic-name : The name of the class used for the generic border.
@mixin make-border-generic ($border-generic-name) {
	.#{$border-generic-name} {
		border: 1px solid rgba(0,0,0, 0.25) !important;
	}
}
// Generic radial border mixin. ATTENTION: Uses !important.
// Variables:
// - $border-radial-name : The name of the class used for the radial border.
// - $border-radial-radius : The border radius used for the radial border.
@mixin make-border-radial-style ($border-radial-name, $border-radial-radius) {
	.#{$border-radial-name} {
		border-radius: $border-radial-radius !important;
	}
}
// Generic box shadow mixin. ATTENTION: Uses !important.
// Variables:
// - $box-shadow-name : The name of the class used for the generic box shadow.
// - $box-shadow-value : The box shadow value of the generic box shadow.
@mixin make-box-shadow-generic ($box-shadow-name, $box-shadow-value) {
	.#{$box-shadow-name} {
		box-shadow: $box-shadow-value !important;
	}
}
// Responsive margin mixin. ATTENTION: Uses !important.
// Variables:
// - $margin-name : The name of the class used for the responsive margin.
// - $margin-medium-breakpoint : Medium screen breakpoint for the responsive margin.
// - $margin-large-breakpoint : Large screen breakpoint for the responsive margin.
// - $margin-small-value : Responsive margin value for smaller screens.
// - $margin-medium-value : Responsive margin value for medium screens.
// - $margin-large-value : Responsive margin value for large screens.
@mixin make-margin-responsive ($margin-name, $margin-medium-breakpoint,
	$margin-large-breakpoint, $margin-small-value, $margin-medium-value,
	$margin-large-value) {
	.#{$margin-name} {
		margin: $margin-small-value !important;
	}
	@media screen and (min-width: #{$margin-medium-breakpoint}) {
		.#{$margin-name} {
			margin: $margin-medium-value !important;
		}
	}
	@media screen and (min-width: #{$margin-large-breakpoint}) {
		.#{$margin-name} {
			margin: $margin-large-value !important;
		}
	}
}
// Responsive padding mixin. ATTENTION: Uses !important.
// Variables:
// - $padding-name : The name of the class used for the responsive padding.
// - $padding-medium-breakpoint : Medium screen breakpoint for the responsive padding.
// - $padding-large-breakpoint : Large screen breakpoint for the responsive padding.
// - $padding-small-value : Responsive padding value for smaller screens.
// - $padding-medium-value : Responsive padding value for medium screens.
// - $padding-large-value : Responsive padding value for large screens.
@mixin make-padding-responsive ($padding-name, $padding-medium-breakpoint,
	$padding-large-breakpoint, $padding-small-value, $padding-medium-value,
	$padding-large-value) {
	.#{$padding-name} {
		padding: $padding-small-value !important;
	}
	@media screen and (min-width: #{$padding-medium-breakpoint}) {
		.#{$padding-name} {
			padding: $padding-medium-value !important;
		}
	}
	@media screen and (min-width: #{$padding-large-breakpoint}) {
		.#{$padding-name} {
			padding: $padding-large-value !important;
		}
	}
}
