$apply-defaults-to-all: true !default;
@if $apply-defaults-to-all {
html, * {
  font-family: #{$base-font-family};
  font-size: $base-font-size;
  line-height: $base-line-height;
  // Prevent adjustments of font size after orientation changes in mobile.
  -webkit-text-size-adjust: 100%; 
}
}
@else {
html {
  font-family: #{$base-font-family};
  font-size: $base-font-size;
  line-height: $base-line-height;
  // Prevent adjustments of font size after orientation changes in mobile.
  -webkit-text-size-adjust: 100%; 
}
}

body {
  margin: $body-margin;
  color: $fore-color;
  background-color: $back-color;
}

// Correct display for older versions of IE.
article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $header-line-height;
  margin: $header-margin;
  font-weight: $header-font-weight;
  small {
    color: $header-smalltext-fore-color;
  }
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}

hr {
  // Fixes and defaults for styling
  box-sizing: content-box;
  border: 0;
  height: 0;
  overflow: visible;
  // Actual styling using variables
  line-height: $horizontal-rule-line-height;
  margin: $horizontal-rule-margin;
  border-top: $horizontal-rule-border-style;
}

$use-default-code-fonts: true !default;
@if $use-default-code-fonts {
code, kbd, pre, samp{
  font-family: monospace, monospace;  // Applies display fix for all code elements
}
}
@else {
code, kbd, pre, samp{
  font-family: $code-font-family;     // Display fix should be applied manually!
}
}

code {
@if $code-element-border-style != 0{
  border: $code-element-border-style;
}
@if $code-element-border-radius != 0{
  border-radius: $code-element-border-radius;
}
@if $code-element-back-color != $back-color{
 background-color: $code-element-back-color;
}
@if $code-element-fore-color != $fore-color{
  color: $code-element-fore-color;
}
@if $code-element-padding != 0{
  padding: $code-element-padding;
}
}

pre {
@if $pre-element-border-style != 0{
  border: $pre-element-border-style;
}
@if $pre-element-border-radius != 0{
  border-radius: $pre-element-border-radius;
}
@if $pre-element-back-color != $back-color{
 background-color: $pre-element-back-color;
}
@if $pre-element-fore-color != $fore-color{
  color: $pre-element-fore-color;
}
@if $pre-element-padding != 0{
  padding: $pre-element-padding;
}
}

kbd {
@if $kbd-element-border-style != 0{
  border: $kbd-element-border-style;
}
@if $kbd-element-border-radius != 0{
  border-radius: $kbd-element-border-radius;
}
@if $kbd-element-back-color != $back-color{
 background-color: $kbd-element-back-color;
}
@if $kbd-element-fore-color != $fore-color{
  color: $kbd-element-fore-color;
}
@if $kbd-element-padding != 0{
  padding: $kbd-element-padding;
}
}

$style-samp-element: false !default;
@if $style-samp-element {
samp{
@if $samp-element-border-style != 0{
  border: $samp-element-border-style;
}
@if $samp-element-border-radius != 0{
  border-radius: $samp-element-border-radius;
}
@if $samp-element-back-color != $back-color{
 background-color: $samp-element-back-color;
}
@if $samp-element-fore-color != $fore-color{
  color: $samp-element-fore-color;
}
@if $samp-element-padding != 0{
  padding: $samp-element-padding;
}
}
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}