// 	This is a flavor file. Duplicate it and edit it to create your own
//	flavor. Read instructions carefully.
// 	Single-line comments, starting with '//' will not be included in
//	your final CSS file. Multiline comments, structured like the flavor
//	description below, will be included in your final CSS file.
/*
	Flavor name: Default (mini-default)
	Author: Angelos Chalaris (chalarangelo@gmail.com)
	mini.css version: v2.0 (in-production)
*/
//	Basic rules for body and typography
$fore-color:					#222;											// Text and general foreground color
$back-color:					#f9f9f9;										// Body background color
$base-font-family:				"\"Helvetica Neue\", Helvetica, sans-serif";	// Default fonts for all elements
$base-font-size:				1em;											// Default font sizing for all elements
$base-line-height:				1.5;											// Default line height for all elements.
$body-margin:					0;												// Margin for the body
$apply-defaults-to-all:			true;											// Should default values be applied to all 
																				// elements? (`true` or `false`)
$h1-font-size:					2em;											// Font size of h1
$h2-font-size:					1.5em;											// Font size for h2
$h3-font-size:					1.15em;											// Font size for h3
$h4-font-size:					1em;											// Font size for h4
$h5-font-size:					0.85em;											// Font size for h5
$h6-font-size:					0.75em;											// Font size for h6
$header-line-height:			1.2em;											// Line height for all headers
$header-margin:					0.7em 0;										// Margin for all headers
$header-font-weight:			500;											// Font weight for all headers
$header-smalltext-fore-color:	#444;											// <small> color in headers	
$horizontal-rule-line-height:	1.2em;											// <hr> line height
$horizontal-rule-margin:		0.5em 4px;										// <hr> margin
$horizontal-rule-border-style:	1px solid #666;									// Border style for horizontal rules (used 
																				// in the <hr> element's border-top)	
//	Enable base
@import '../../scss/v2/base';