// 	This is a flavor file. Duplicate it and edit it to create your own
//	flavor. Read instructions carefully.
// 	Single-line comments, starting with '//' will not be included in
//	your final CSS file. Multiline comments, structured like the flavor
//	description below, will be included in your final CSS file.
/*
	Flavor name: Default (mini-default)
	Author: Angelos Chalaris (chalarangelo@gmail.com)
	mini.css version: v2.0 (in-production)
*/
//	Basic rules for body and typography
$fore-color:					#222;											// Text and general foreground color
$back-color:					#f9f9f9;										// Body background color
$base-font-family:				"\"Helvetica Neue\", Helvetica, sans-serif";	// Default fonts for all elements
$base-font-size:				1em;											// Default font sizing for all elements
$base-line-height:				1.5;											// Default line height for all elements.
$body-margin:					0;												// Margin for the body
$apply-defaults-to-all:			true;											// Should default values be applied to all 
																				// elements? (`true` or `false`) [1]
$h1-font-size:					2em;											// Font size of h1
$h2-font-size:					1.5em;											// Font size for h2
$h3-font-size:					1.15em;											// Font size for h3
$h4-font-size:					1em;											// Font size for h4
$h5-font-size:					0.85em;											// Font size for h5
$h6-font-size:					0.75em;											// Font size for h6
$header-line-height:			1.2em;											// Line height for all headers
$header-margin:					0.7em 0;										// Margin for all headers
$header-font-weight:			500;											// Font weight for all headers
$header-smalltext-fore-color:	#444;											// <small> color in headers	
$horizontal-rule-line-height:	1.2em;											// <hr> line height
$horizontal-rule-margin:		0.5em 4px;										// <hr> margin
$horizontal-rule-border-style:	1px solid #888;									// Border style for horizontal rules (used 
																				// in the <hr> element's border-top)
$use-default-code-fonts:		true;											// Should default font choice (monospace) be
																				// used for code elements? (`true`/`false`) [2]
//$code-font-family:			monospace, monospace;							// Fonts for code elements if not default
$code-element-padding:			2px 4px;										// Padding for <code>
$code-element-fore-color:		$fore-color;									// Text color for <code>
$code-element-back-color:		#ddd;											// Background color for <code>
$code-element-border-style:		0;												// Border style for <code>
$code-element-border-radius:	2px;											// Border radius for <code>
$pre-element-padding:			8px;											// Padding for <pre>
$pre-element-fore-color:		$code-element-fore-color;						// Text color for <pre>
$pre-element-back-color:		$code-element-back-color;						// Background color for <pre>
$pre-element-border-style:		0;												// Border style for <pre>
$pre-element-border-radius:		2px;											// Border radius for <pre>
$kbd-element-padding:			2px 4px;										// Padding for <kbd>
$kbd-element-fore-color:		$back-color;									// Text color for <kbd>
$kbd-element-back-color:		$fore-color;									// Background color for <kbd>
$kbd-element-border-style:		0;												// Border style for <kbd>
$kbd-element-border-radius:		2px;											// Border radius for <kbd>
$style-samp-element:			false;											// Should styles for <samp> be included? 
																				// (`true`/`false`) [3]
//$samp-element-padding:		2px 4px;										// Padding for <samp>
//$samp-element-fore-color:		$fore-color;									// Text color for <samp>
//$samp-element-back-color:		#2678b3;										// Background color for <samp>
//$samp-element-border-style:	0;												// Border style for <samp>
//$samp-element-border-radius:	2px;											// Border radius for <samp>
$small-font-size:				75%;											// Font size for <small> elements
$sup-font-size:					75%;											// Font size for <sup> elements
$sub-font-size:					75%;											// Font size for <sub> elements
$sup-top:						-0.5em;											// <sup> top
$sub-bottom:					-0.25em;										// <sub> bottom
//	Enable base
@import '../../scss/v2/base';
//	Notes:
// [1] - It is recommended to set the value of $apply-defaults-to-all to `true`, unless you want to apply extra styling 
//	to elements manually.
// [2] - If the value of $use-default-code-fonts is set to `false` the value of $code-font-family will be used. `true`
//	will apply the proper fix to use monospace font without any problems on all browsers.
// [3] - If the value of $style-samp-element is set to `false`, no styling will be included in the final CSS file for
//	`samp` elements. Otherwise, the styling defined in the $samp-... variables will be applied.