// 	This is a flavor file. Duplicate it and edit it to create your own
//	flavor. Read instructions carefully.
// 	Single-line comments, starting with '//' will not be included in
//	your final CSS file. Multiline comments, structured like the flavor
//	description below, will be included in your final CSS file.
/*
	Flavor name: Default (mini-default)
	Author: Angelos Chalaris (chalarangelo@gmail.com)
	mini.css version: v2.0 (in-production)
*/
//	Basic rules for body and typography
$fore-color:					#212121;										// Text and general foreground color
$back-color:					#fafafa;										// Body background color
$base-font-family:				"\"Helvetica Neue\", Helvetica, sans-serif";	// Default fonts for all elements
$base-font-size:				1em;											// Default font sizing for all elements
$base-line-height:				1.5;											// Default line height for all elements.
$body-margin:					0;												// Margin for the body
$apply-defaults-to-all:			true;											// Should default values be applied to all 
																				// elements? (`true` or `false`) [1]
$h1-font-size:					2em;											// Font size of h1
$h2-font-size:					1.5em;											// Font size for h2
$h3-font-size:					1.15em;											// Font size for h3
$h4-font-size:					1em;											// Font size for h4
$h5-font-size:					0.85em;											// Font size for h5
$h6-font-size:					0.75em;											// Font size for h6
$header-line-height:			1.2em;											// Line height for all headers
$header-margin:					0.7em 8px;										// Margin for all headers
$header-font-weight:			500;											// Font weight for all headers
$header-smalltext-fore-color:	#424242;										// <small> color in headers	
$make-header-smalltext-block:	true;											// Should <small> elements in headers
																				// be displayed as blocks (`true`/`false`) [2]
$header-smalltext-b-font-size:	45%;											// Font size of block <small> elements in headers
$header-smalltext-b-top-margin:	-0.35em;										// Top margin of block <small> elements in headers
$paragraph-margin:				1px 10px;										// Paragraph element margin
$bold-font-weight:				700;											// Font weight for <b> and <strong>
$horizontal-rule-line-height:	1.2em;											// <hr> line height
$horizontal-rule-margin:		0.5em 4px;										// <hr> margin
$horizontal-rule-border-style:	1px solid #757575;								// Border style for horizontal rules (used 
																				// in the <hr> element's border-top)
$horizontal-rule-fancy-style:	true;											// Should a fancy styling be applied for the
																				// <hr> element (`true`/`false`) [3]
$horizontal-rule-fancy-gradient:"to right, #bdbdbd, #616161, #bdbdbd";			// Gradient style for fancy horizontal rule
$use-default-code-fonts:		true;											// Should default font choice (monospace) be
																				// used for code elements? (`true`/`false`) [4]
//$code-font-family:			monospace, monospace;							// Fonts for code elements if not default
$code-element-padding:			2px 4px;										// Padding for <code>
$code-element-fore-color:		$fore-color;									// Text color for <code>
$code-element-back-color:		#e0e0e0;										// Background color for <code>
$code-element-border-style:		0;												// Border style for <code>
$code-element-border-radius:	2px;											// Border radius for <code>
$pre-element-padding:			12px;											// Padding for <pre>
$pre-element-fore-color:		$code-element-fore-color;						// Text color for <pre>
$pre-element-back-color:		$code-element-back-color;						// Background color for <pre>
$pre-element-border-style:		0;												// Border style for <pre>
$pre-element-border-radius:		0 2px 2px 0;									// Border radius for <pre>
$pre-element-margin:			1px 10px;										// Margin for <pre>
$add-pre-element-sidebar:		true;											// Should a fancy sidebar be added to the
																				// left side of <pre> (`true`/`false`)
$pre-element-sidebar-style:		3px solid #1565c0;								// Style of the sidebar of <pre>
$kbd-element-padding:			2px 4px;										// Padding for <kbd>
$kbd-element-fore-color:		$back-color;									// Text color for <kbd>
$kbd-element-back-color:		$fore-color;									// Background color for <kbd>
$kbd-element-border-style:		0;												// Border style for <kbd>
$kbd-element-border-radius:		2px;											// Border radius for <kbd>
$style-samp-element:			false;											// Should styles for <samp> be included? 
																				// (`true`/`false`) [6]
//$samp-element-padding:		2px 4px;										// Padding for <samp>
//$samp-element-fore-color:		$fore-color;									// Text color for <samp>
//$samp-element-back-color:		#2196f3;										// Background color for <samp>
//$samp-element-border-style:	0;												// Border style for <samp>
//$samp-element-border-radius:	2px;											// Border radius for <samp>
$include-dfn-fix:				false;											// Should the fix for Android 4.3 concerning <dfn>
																				// be included (`true`/`false`) [7]
$small-font-size:				75%;											// Font size for <small> elements
$sup-font-size:					75%;											// Font size for <sup> elements
$sub-font-size:					75%;											// Font size for <sub> elements
$sup-top:						-0.5em;											// <sup> top
$sub-bottom:					-0.25em;										// <sub> bottom
$link-fore-color:				#0277bd;										// Text color for <a>
$link-visited-fore-color:		#01579b;										// Text color for visited <a>
$link-font-weight:				500;											// Font weight for <a>
$apply-link-underline:			true;											// Should an underline be applied to all <a>
																				// elements? (`true`/`false`) [8]
$apply-link-hover-fade:			true;											// Should the :hover and :focus state of <a>
																				// elements use fade-out instead of a different
																				// color (`true`/`false`) [9]
//$link-hover-fore-color:		#0288d1;										// Text color for <a> when hovered or focused
//	Notes:
// [1] - It is recommended to set the value of $apply-defaults-to-all to `true`, unless you want to apply extra styling 
//	to elements manually.
// [2] - If the value of $make-header-smalltext-block is `true` the <small> elements in headers will be displayed below
//	the main header and the 2 values specified below will apply.
// [3] - If $horizontal-rule-fancy-style is set to `true` the value of $horizontal-rule-border-style will not be used and
//	a gradient with the style specified in $horizontal-rule-fancy-gradient will be applied instead.
// [4] - If the value of $use-default-code-fonts is set to `false` the value of $code-font-family will be used. `true`
//	will apply the proper fix to use monospace font without any problems on all browsers.
// [5] - if the value of $add-pre-element-sidebar is set to true, the style specified in $pre-element-sidebar-style will
//	be applied as a left border for the <pre> elements. 
// [6] - If the value of $style-samp-element is set to `false`, no styling will be included in the final CSS file for
//	`samp` elements. Otherwise, the styling defined in the $samp-... variables will be applied.
// [7] - If the value of $include-dfn-fix is set to `true` a styling fix will be applied, so that the <dfn> elements are
//	displayed properly on older versions of Android (4.3-) in italics. Otherwise, said fix will not be included.
// [8] - If the value of $apply-link-underline is set to `true`, an underline will be applied to the link in its normal
//	color, as defined in $link-fore-color.
// [9] - If `apply-link-hover-fade` is set to `true`, a fading transition will be used for the link when hovered over or
//	focused. Otherwise, the color specified in $link-hover-fore-color will be used.
//	Variables for grid elements
$use-four-step-grid:			false;											// Should the old 4-step grid system be used
																				// instead of the new (`true`/`false`) [1]
$grid-container-name:			'container';									// Class name for the grid container
$grid-container-side-padding:	10px;											// Padding for the grid container (left and right only)
$grid-row-name:					'row';											// Class name for the grid's rows
$grid-column-prefix:			'col';											// Class name prefix for the grid's columns
$grid-column-offset-suffix:		'offset';										// Class name suffix for the grid's offsets
$grid-column-count:				12;												// Number of columns in the grid (integer value only)
$grid-column-padding:			0 4px;											// Padding for the columns of the grid
//$grid-extra-small-prefix:		'xs';											// Extra small screen class prefix for grid
//$grid-small-breakpoint:		480px;											// Small screen breakpoint for grid
$grid-small-prefix:				'sm';											// Small screen class prefix for grid
$grid-medium-breakpoint:		800px;											// Medium screen breakpoint for grid
$grid-medium-prefix:			'md';											// Medium screen class prefix for grid
$grid-large-breakpoint:			1080px;											// Large screen breakpoint for grid
$grid-large-prefix:				'lg';											// Large screen class prefix for grid
//	Notes:
// [1] - If the value of $use-four-step-grid is `true`, the grid system will contain 4 breakpoints instead of 3, along with
//	the needed styles. In this case, values should be specified for $grid-extra-small-prefix and $grid-small-breakpoint.
//	Variables for responsive tables
$table-border-style:			1px solid #bdbdbd;								// Border style for <table> and children
$table-border-radius:			2px;											// Border radius for <table> and children
$table-margin:					0 auto;											// Margin for <table>
$table-caption-font-size:		1.5em;											// Font size for <caption>
$table-caption-margin:			6px 0 12px;										// Margin for <caption>
$table-row-padding:				6px;											// Padding for <tr> - both views
$table-column-padding:			10px;											// Padding for <td> and <th> - desktop view
$table-head-back-color:			#eceff1;										// Background color for <th>
$table-mobile-breakpoint:		768px;											// Breakpoint for <table> mobile view
$table-mobile-card-spacing:		10px;											// Space between <tr> cards - mobile view
$table-mobile-card-label:		'data-label';									// Attribute used to replace column headers
																				// in mobile view [1]
$table-mobile-label-font-weight:$bold-font-weight;								// Font weight for mobile headers
//	Notes:
// [1] - The attribute specified in $table-mobile-card-label must be added manually to each and every element in the table
//	in order for their mobile headers to display properly. 
//	Variables for button elements
$button-back-color:				#cfd8dc;										// Back color for button elements
$button-back-opacity:			0.75;											// Background opacity for button elements
$button-hover-back-opacity:		1;												// Background opacity for button elements
																				// while hovering over them
$button-fore-color:				#212121;										// Text color for button elements
$button-border-style:			0;												// Border style for button elements
$button-border-radius:			2px;											// Border radius for button elements
$button-padding:				4px 6px;										// Padding for button elements
$button-margin:					4px;											// Margin for button elements
$button-disabled-opacity:		0.65;											// Disabled button elements opacity
$button-class-name:				'button';										// Class for custom button elements
$hide-file-inputs:				true;											// Should a style be added that makes all
																				// <input>s of type `file` hidden?
																				// (`true`/`false`) [1]

// 	Notes:
// [1] - If the value of $hide-file-inputs is `true`, all <input type="file"> elements will be hidden and the only way
// 	to access them is via the use of <label> elements that are linked to them. This option is enabled by default to
//	allow for universal button styles, even for file input buttons, but can be disabled if the base style is desired.
//	If the value is `false`, some fixes will be applied to the <input type="file"> element.


//	Variables for contextual background elements
$mark-back-color:				#0277bd;										// Background color for <mark>
$mark-fore-color:				$back-color;									// Text color for <mark>
$mark-font-size:				95%;											// Font size for <mark>
$mark-line-height:				1;												// Line height for <mark>
$mark-padding:					1px;											// Padding for <mark>
$mark-margin:					0;												// Margin for <mark>	
$mark-variant1-name:			'secondary';									// Class name for <mark> variant 1
$mark-variant1-back-color:		#f44336;										// Background color for <mark> variant 1
$mark-variant2-name:			'tertiary';										// Class name for <mark> variant 2
$mark-variant2-back-color:		#558b2f;										// Background color for <mark> variant 2
$mark-style1-name:				'tag';											// Class name for <mark> style 1
$mark-style1-border-radius:		2px;											// Border radius for <mark> style 1
$mark-style1-padding:			2px;											// Padding for <mark> style 1	
$mark-style2-name:				'bubble';										// Class name for <mark> style 2
$mark-style2-border-radius:		200px;											// Border radius for <mark> style 2
$mark-style2-padding:			3px 5px;										// Padding for <mark> style 2	
//	Variables for progress elements
$progress-back-color:			#f5f5f5;										// Background color for <progress>
$progress-fore-color:			#01579b;										// Progress bar color for <progress>
$progress-height:				10px;											// Height of <progress>
$progress-border-style:			0;												// Border style for <progress>
$progress-border-radius:		1px;											// Border radius for the <progress> container
$progress-margin:				1px auto;										// Margin for <progress>
$progress-inline-name:			'inline';										// Class name for inline <progress>
$progress-inline-width:			20em;											// Width for inline <progress>
$progress-variant1-name:		'secondary';									// Class name for <progress> variant 1
$progress-variant1-fore-color:	#e53935;										// Progress bar color for <progress> variant 1
$progress-variant2-name:		'tertiary';										// Class name for <progress> variant 2
$progress-variant2-fore-color:	#689f38;										// Progress bar color for <progress> variant 2
$progress-style1-name:			'nano';											// Class name for <progress> style 1
$progress-style1-height:		2px;											// Height for <progress> style 1
$progress-style1-margin:		0 auto 1px;										// Margin for <progress> style 1
$progress-style1-border-style:	0;												// Border style for <progress> style 1
$progress-style1-border-radius:	0;												// Border radius for <progress> style 1
//	Enable base
@import '../../scss/v2/core';
//	Use mixins for contextual background elements
@include make-mark-alt-color($mark-variant1-name, $mark-variant1-back-color);
@include make-mark-alt-color($mark-variant2-name, $mark-variant2-back-color);
@include make-mark-alt-style($mark-style1-name, $mark-style1-border-radius, $mark-style1-padding);
@include make-mark-alt-style($mark-style2-name, $mark-style2-border-radius, $mark-style2-padding);
//	Use mixins for progress elements
@include make-progress-inline($progress-inline-name, $progress-inline-width);
@include make-progress-alt-color($progress-variant1-name, $progress-variant1-fore-color);
@include make-progress-alt-color($progress-variant2-name, $progress-variant2-fore-color);
@include make-progress-alt-style($progress-style1-name, $progress-style1-height, 
	$progress-style1-margin, $progress-style1-border-style, $progress-style1-border-radius);