/* DO NOT USE - THIS IS A FLAVOR BUILT FOR THE DOCUMENTATION AND CONTAINS A LOT OF EXTRA CODE!!! */

@import '../mini/core';
@import '../mini/layout';
@import '../mini/input_control';
@import '../mini/navigation';

:not(.doc) {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

code:not(.doc), kbd:not(.doc), pre:not(.doc), samp:not(.doc) {
    font-family: 'Inconsolata', Menlo, Consolas, monospace;
}

.index-splash {
  width: 100%;
  height: 100vh;
}
.index-splash-image {
  background-image: url('%PUBLIC_URL%/index-splash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  &:not(.no-filter){
    filter: blur(2px);
  }
}

h1.splash {
  position: absolute;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  line-height: 60vh;
  font-size: 3rem;
  font-weight: 400;
  color: #f22f21;
  //color: #ef2917;
  & small {
    display: initial;
    font-size: 0.5em;
    color: #222;
  }
  &::first-letter {
    font-size: 1.33em;
    color: #fff;
    background: #f22f21;
    border-radius: 6px;
    padding: 0 10px;
  }
}

p.splash {
  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 40vh;
}

#version-info {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.25);
  padding: 2px 6px;
  border-radius: 4px;
  color: #dc2b1e;
  right: 8px;
  font-weight: 500;
}

.row.padded {
  padding-top: 20px;
  padding-bottom: 80px;
}

.feature-image {
  display: block;
  margin: 50px auto 20px;
  @media screen and (min-width: 768px){
    height: 400px;
  }
}

.feature-header {
  text-align: center;
  margin-left: 0;
}

.alt-back {
  background: #f3f3f3;
}

.primary-section {
  background: #f22f21;
  color: #fff;
  a {
    &:link{
      color: #76FF03;
    }
    &:visited {
      color: #64DD17;
    }
    &.centered {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
  // TODO: Actually convert to a link, stylize as button, utilize module
  button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fff;
    font-size: 1.25rem;
    display: block;
    margin: 20px auto 8px;
    cursor: pointer;
  }
}

#root, #App {
  height: 100vh;
}

#doc-wrapper {
  height: calc(100vh - 3.5625rem);
  overflow: hidden;
}

#doc-drawer {
  height: 100vh;
  overflow-y: auto;
  @media screen and (min-width:768px){
    height: 100%;
    border-top: 0;
    border-bottom: 0;
  }
}

#doc-content {
  height: 100%;
  overflow-y: auto;
}

$card-size1-name:              'large';            // Class name for large cards
$card-size1-width:             480px;              // Width for large cards
$card-size2-name:              'small';            // Class name for small cards
$card-size2-width:             240px;              // Width for small cards
$card-size3-name:              'fluid';            // Class name for fluid cards
$card-size3-width:             100%;               // Width for fluid cards
$card-style1-name:             'warning';          // Class name for card style 1
$card-style1-back-color:       #ffca28;            // Background color for card style 1
$card-style1-fore-color:       #111;               // Text color for card style 1
$card-style1-border-color:     #e8b825;            // Border style for card style 1
$card-style2-name:             'error';            // Class name for card style 2
$card-style2-back-color:       #b71c1c;            // Background color for card style 2
$card-style2-fore-color:       #fafafa;            // Text color for card style 2
$card-style2-border-color:     #a71a1a;            // Border style for card style 2
$card-section-style1-name:        'dark';          // Class name for card section style 1
$card-section-style1-back-color:  #e0e0e0;         // Background color for card section style 1
$card-section-style1-fore-color:  #111;            // Text color for card section style 1
$card-section-style2-name:        'darker';        // Class name for card section style 2
$card-section-style2-back-color:  #bdbdbd;         // Background color for card section style 2
$card-section-style2-fore-color:  #111;            // Text color for card section style 2
$card-section-padding1-name:    'double-padded';   // Class name for card section padding style 1
$card-section-padding1-padding:  0.75rem;          // Padding for card section padding style 1
@include make-card-alt-size ($card-size1-name, $card-size1-width);
@include make-card-alt-size ($card-size2-name, $card-size2-width);
@include make-card-alt-size ($card-size3-name, $card-size3-width);
@include make-card-alt-color ($card-style1-name, $card-style1-back-color, $card-style1-fore-color, $card-style1-border-color);
@include make-card-alt-color ($card-style2-name, $card-style2-back-color, $card-style2-fore-color, $card-style2-border-color);
@include make-card-section-alt-color ($card-section-style1-name, $card-section-style1-back-color, $card-section-style1-fore-color);
@include make-card-section-alt-color ($card-section-style2-name, $card-section-style2-back-color, $card-section-style2-fore-color);
@include make-card-section-alt-style ($card-section-padding1-name, $card-section-padding1-padding);
