// Definitions for the button and button-like elements.
// Different elements are styled based on the same set of rules.
// Reset for Firefox focusing on button elements.
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
// Fixes for Android 4, iOS and Safari.
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
// Other fixes.
button {
	overflow: visible;	// Show the overflow in IE.
	text-transform: none;	// Remove inheritance of text-transform in Edge, Firefox, and IE.
}
// TODO: Test and see if these are needed etc.
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; // 1
  font: inherit; // 2
}
// Default styling
// TODO: Add '.button' class for other elements and 'a.button' rule on its own to make some custom link styles.
button, [type="button"], [type="submit"], [type="reset"]{
	display: inline-block;
	background: rgba(#cfd8dc, 0.75);
	color: #212121;
	border: 0;
	padding: 4px 6px;
	margin: 4px;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	&:hover, &:active, &:focus{
		background: rgba(#cfd8dc, 1);
	}
	&:disabled, &[disabled] {
		cursor: not-allowed;
		opacity: 0.65;
	}
}
// TODO: Build "file" input. (many browsers use `::-webkit-file-upload-button` making it easier to style possibly).
//	Firefox and IE will default to `[type="file"]` so there needs to be a solution for that (labels?).
[type="file"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}