// Definitions for forms and input elements.
// Different elements are styled based on the same set of rules.

form {
@if $form-back-color != $back-color {
	background: $form-back-color;
}
@if $form-fore-color != $fore-color {
	color: $form-fore-color;
}
@if $form-border-style != 0 {
	border: $form-border-style;
}
@if $form-border-radius != 0 {
	border-radius: $form-border-radius;
}
@if $form-margin != 0 {
	margin: $form-margin;
}
@if $form-padding != 0 {
	padding: $form-padding;
}
}

fieldset {
@if $fieldset-back-color != $form-back-color {
	background: $fieldset-back-color;
}
	border: $fieldset-border-style;
	border-radius: $fieldset-border-radius;
	// Margin and padding should never be unassigned, because browser defaults will be applied.
	margin: $fieldset-margin;
  	padding: $fieldset-padding;
}

legend {
	// IE and Edge fixes.
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	white-space: normal;
	// Actual styling.
	font-weight: $legend-font-weight;
	font-size: $legend-font-size;
@if $legend-fore-color != $fore-color {
	color: $legend-fore-color;
}
@if $legend-padding != 0 {
	padding: $legend-padding;
}
}

.#{$input-group-name} {
	display: inline-block;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; // Correct the cursor style of increment and decrement buttons in Chrome.
}

textarea {
  overflow: auto;	// Remove the default vertical scrollbar in IE.
}

input:not([type]), [type="text"], [type="email"], [type="number"], 
[type="password"], [type="url"], [type="tel"], textarea, select {
	box-sizing: border-box;
	// Background, color and border should not be unassigned, as the browser defaults will apply.
	background: $input-back-color;
	color: $input-fore-color;
	border: $input-border-style;
@if $input-border-radius != 0 {
	border-radius: $input-border-radius;
}		
@if $input-margin != 0 {
	margin: $input-margin;
}
@if $input-padding != 0 {
	padding: $input-padding;
}
&:focus {
	border-color: $input-focus-border-color;
	box-shadow: none;
}
&[disabled] {
	cursor: not-allowed;
	opacity: $input-disabled-opacity;
}
&:invalid, &:focus:invalid, &:focus:invalid:focus{
	border-color: $input-invalid-border-color;
	box-shadow: none;
}
&[readonly]{
	background-color: $input-readonly-back-color;
	border-color: $input-readonly-border-color;
}
}

::-webkit-placeholder {
	color: $input-placeholder-fore-color;
}
::-moz-placeholder {
	color: $input-placeholder-fore-color;
}
::-ms-placeholder {
	color: $input-placeholder-fore-color;
}

// TODO: Checkboxes and radios will be in a different module.
// TODO: Style `search` separately.
// TODO: Move search fixes from core.