// Definitions for progress elements.
// Progress elements use the progress element as their base.
// Default styling for progress. Use mixins for alternate styles.
progress {
	display: block;
	vertical-align: baseline;	// Correct vertical alignment in certain browsers.	
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	height: $progress-height;
	border: $progress-border-style;
@if $progress-border-radius != 0 {
	border-radius: $progress-border-radius;
}	
	margin: $progress-margin;	
	background: $progress-back-color;	// Background color of the element (IE 10+ and Firefox).
	color: $progress-fore-color;		// Foreground of the element (IE 10+).
&::-webkit-progress-value {				// Foreground of the element (webkit browsers).
	background: $progress-fore-color;
@if $progress-border-radius != 0 {
	border-top-left-radius: $progress-border-radius;
	border-bottom-left-radius: $progress-border-radius;
}
}
&::-webkit-progress-bar {				// Background of the element (webkit browsers).
	background: $progress-back-color;
}
&::-moz-progress-bar { 					// Foreground of the element (Firefox).
	background: $progress-fore-color;
@if $progress-border-radius != 0 {
	border-top-left-radius: $progress-border-radius;
	border-bottom-left-radius: $progress-border-radius;
}
}
&[value="100"] {
&::-webkit-progress-value {
@if $progress-border-radius != 0 {
	border-radius: $progress-border-radius;
}
}
&::-moz-progress-bar {
@if $progress-border-radius != 0 {
	border-radius: $progress-border-radius;
}
}
}
}
// Mixin for inline progress.
// Variables:
// - $progress-inline-name : The name of the class used for the inline progress.
// - $progress-inline-width : The width of the inline progress.
@mixin make-progress-inline($progress-inline-name, $progress-inline-width){
progress.#{$progress-inline-name} {
	display: inline-block;
	vertical-align: middle; 	// Align progress bar vertically to look better with text next to it.
@if $progress-inline-width != 100% {
	width: $progress-inline-width;
}
}
}