/*
	Mixin for navigation bar's dropdown element.
	Parameters:
	- $nav-name             :	The class name for the navigation bar. [1]
	- $nav-link-name        :	The class name for the navigation links of the navigation bar. [1]
	- $dropdown-name        :	The class name for the dropdown element. [2]
	- $dropdown-left-margin :	The left margin of the dropdown element's contents. [3]
	- $dropdown-font-size   :	The font size of the dropdown element's contents.
	Notes:
	- [1] : The values of $nav-name and $nav-link-name must match those specified in the navigation bar's
		definition, otherwise the dropdown element will not work properly.
	- [2] : The value of $dropdown-name is used in two distinct elements of the component, namely the
		checkbox and the dropdown toggle.
	- [3] : The value of $dropdown-left-margin will affect all open dropdown menus, as well as dropdown
		menus on mobile screens. It is suggested that you set this value to something different than
		0 to visually represent the menu hierarchy in devices with smaller screens.
*/
@mixin make-dropdown($nav-name, $nav-link-name, $dropdown-name, $dropdown-left-margin, $dropdown-font-size){
	.#{$nav-name}{
		& .#{$nav-link-name}.#{$dropdown-name}{
			cursor: pointer;
		}
		& input[type="checkbox"]{
			&.#{$dropdown-name} + div{
				display: none;
			}
			&:checked.#{$dropdown-name}{
				+ div{
					display: block;
					font-size: $dropdown-font-size;
					margin-left: $dropdown-left-margin;
				}
			}
		}
	}
}