@mixin btn-variant ($color, $background){
	color: $color;
	background: $background;
	&:hover, &:active, &:focus{
    	background: lighten($background, 7.5%);
  	}
}

.btn, a.btn, a.btn:visited{
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 2px 0;
	padding: 6px 12px;
	border: 0;
	text-decoration: none;
	@include btn-variant($btn-color, $btn-background-color);
	&.disabled, &[disabled], &fieldset[disabled]{
		cursor: not-allowed;
		opacity: .65;
	}
}


.btn.blue, a.btn.blue, a.btn.blue:visited{
	@include btn-variant($btn-color-alt, $btn-b-background-color);
}

.btn.green, a.btn.green, a.btn.green:visited{
	@include btn-variant($btn-color-alt, $btn-g-background-color);
}

.btn.red, a.btn.red, a.btn.red:visited{
	@include btn-variant($btn-color-alt, $btn-r-background-color);
}

.btn.lg{
	padding: 9px 15px;
	font-size: 135%;
}
.btn.sm{
	padding: 4px 8px;
	font-size: 80%;
}