@mixin btn-variant ($color, $background){
	color: $color;
	background: $background;
	&:hover, &:active, &:focus{
    	background: lighten($background, 7.5%);
  	}
}

.btn{
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 2px 0;
	padding: 6px 12px;
	border: 0;
	@include btn-variant($btn-color, $btn-background-color);
	&.disabled, &[disabled], &fieldset[disabled]{
		cursor: not-allowed;
		opacity: .65;
	}
}

.btn.btn-b{
	@include btn-variant($btn-color-alt, $btn-b-background-color);
}

.btn.btn-g{
	@include btn-variant($btn-color-alt, $btn-g-background-color);
}

.btn.btn-r{
	@include btn-variant($btn-color-alt, $btn-r-background-color);
}

.btn.btn-lg{
	padding: 9px 15px;
	font-size: 135%;
}
.btn.btn-sm{
	padding: 4px 8px;
	font-size: 80%;
}