/*			Base 									*/
$body-background-color:						#eee;
$body-color:								#222;
$a-color:									#2678b3;
$mark-color:								#ffff33;
/*			Button									*/
$btn-color:									#2a2a2a;
$btn-color-alt:								#eeeeee;
$btn-border-color:							#b9b9b9;
$btn-background-color:						#dbdbdb;
$btn-b-background-color:					#3f84b3;
$btn-g-background-color:					#2db747;
$btn-r-background-color:					#ea4848;