/*			Base 									*/
$body-background-color:						#eee;
$body-color:								#222;
$a-color:									#2678b3;
$mark-color:								#ffff33;
/*			Button									*/
$btn-background-color:						#dbdbdb;
$btn-color:									#2a2a2a;
$btn-border-color:							#b9b9b9;
$btn-b-background-color:					#3370bb;
$btn-b-color:								#eee;
$btn-b-border-color:						#2d70af;
$btn-g-background-color:					#4caf50;
$btn-g-color:								#eee;
$btn-g-border-color:						#3cb941;
$btn-c-background-color:					#38a6e8;
$btn-c-color:								#eee;
$btn-c-border-color:						#2dbdde;
$btn-y-background-color:					#edc637;
$btn-y-color:								#eee;
$btn-y-border-color:						#d1bc24;
$btn-r-background-color:					#be2e2a;
$btn-r-color:								#eee;
$btn-r-border-color:						#ae342f;